

.header-nav > ul, .responsive-header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #252F3D;
    height: 50px;
}
.responsive-header-nav {
}

.nav-headerItem {
    align-self: center;
    color: white;
    list-style: none;
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-headerItem img {
    height: 22px;
    width: 22px;
    margin-right: 5px;
}
.nav-headerItem span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subHeader-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 96px;
    padding: 0px 127px;

}
.subHeader-logos > div {
    margin-top: 50px;
}
.subHeader-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    margin-top: -10px;
    font-family: 'Manrope';
    height: 76px;
}
.subHeader-title > h1 {
    font-size: 35px;
    line-height: 35px;
    color: black;
    font-weight: 400;
}
.subHeader-title > p { 
    color: #4D5254;
}
.logos-left {
    display: flex;
    justify-content: space-between;
    width: 202px;
}
.logos-left img {
    width: 82px;
    height: 32px;
}
.logos-right img {
    width: 192px;
    height: 36px;
}

/* header carrosel */

  .slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > li {
    scroll-snap-align: start;
    flex-shrink: 0;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    max-width: 550px;
  }

  .controlSlider {
    display: flex;
    /* justify-content: center; */
    align-self: center;
    /* color: white; */
    /* padding: 0px 5px; */
}

  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }
  
  /* Don't need button navigation */
  
  